
<% if (typeof req.session.flash != 'undefined' && req.session.flash.error) { %>
    <div class="alert alert-error">
        <%= req.session.flash.error %>
        <% req.session.flash = [] %>
    </div>
<% } %>


<% if (typeof req.session.flash != 'undefined' && req.session.flash.warning) { %>
    <div class="alert alert-warning">
        <%= req.session.flash.warning %>
        <% req.session.flash = [] %>
    </div>
<% } %>



<% if (typeof req.session.flash != 'undefined' && req.session.flash.success) { %>
    <div class="alert alert-success">
        <%= req.session.flash.success %>
        <% req.session.flash = [] %>
    </div>
<% } %>
